.first{
    color: white;
    background-image: url("./images/netx.jpg");
    height: 700px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.logo{
    display: flex;
    height: 6rem;
    width: 7rem;
    margin-bottom: 50px;
    align-self: start;
}
.form{
    display: flex;
    flex-direction: column;
    width: 100px;
    align-self: end;
    margin-top: -110px;
    margin-right: 2rem;
}
button{
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    width: 100px;
}
.script{
    text-align: center;
    font-size: x-large;
}
#C2{
    width: 300px;
    height: 40px;
    background-color: transparent;
    color: azure;
}
#C4{
    height: 50px;
    width: 180px;
}
.second{
    background-color: black;
    color: white;
    height: 700px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.one{
    font-weight: bolder;
    font-size: x-large;
    width: 500px;
    align-self: start;
    position: relative;
    top: 300px;
    left: 200px;
}
.TV{
    height: 200px;
    margin-bottom:50px;
    align-self:end;
    padding-bottom: 400px;
}
.third{
    background-color: black;
    color: white;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 40px;
}
.two{
    position: relative;
    top: 150px;
    right: 100px;
    font-size: xx-large;
}
.phone{
    position: relative;
    right: 150px;
}
.fourth{
    background-color: black;
    color: white;
    height: 450px;
}
.three{
    position: relative;
    top: 100px;
    left: 400px;
    font-size: x-large;
}

.three>h1{
    margin-left: 6rem;
    display: flex;
}

.three>p{
    margin-left: -5rem;
    display: flex;
}
.fifth{
    background-color: black;
    color: white;
    height: 700px;
    display: flex;
    margin-top: 40px;
    flex-direction: row-reverse;
}
.four{
    position: relative;
    top: 200px;
    font-size: x-large;
}
.sixth{
    height: 900px;
    background-color: black;
    color: white;
    margin-bottom: 40px;
    font-size: larger;
}
.five{
    position: relative;
    top: 100px;
    text-align: center;
}
.six{
    position: relative;
    top: 130px;
    left: 500px;
    font-size: larger;
}
#C3{
    height: 40px;
    width: 300px;
}
#C5{
    height: 50px;
    width: 150px;
}
#C6{
    height: 50px;
    width: 700px;
    background-color: #2a2d2d;
    font-size: larger;
}
.navbar{
    background-color: black;
    height: 200px;
    display: flex;
    align-items: center;
}

.navbar>ul{

    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}
.navbar>li{
    display: flex;
    
    /* align-items: center; */
}
.navbar>span{
    display: flex;
    flex-direction: column;
    gap: 2rem;

}
a{
    color: white;
    align-items: center;
    gap: 2rem;
    margin-left: 2rem;
    padding: 2px;
}
button:hover{
    background-color: #de0606
}
#C6:hover{
    background-color: #464848
}

.nflix{
    height: 25rem;
    width: 25rem;
    display: flex;
    background-size: cover;
    justify-content: center;
    margin-left: 32rem;
    margin-top: -7rem;
}

@media screen and (max-width:768px){

    .first{
        flex-direction: column;
        
    }

    .container{
        margin-top: 0;
    }
    
    .logo{
        margin-top: -1rem;
        margin-left: -2rem;
        transform: scale(0.5);
    }

    .sbm{
       transform: scale(0.8);
       margin-left: 2rem; 
    }

    .script{
        flex-direction: column;

    }
    #B2{
        font-size: xx-large;
        display: flex;
        justify-content: center;
        font-weight: 500;
        transform: scale(0.8);
        margin-top: -1rem;
    }

    .script>p{
        transform: scale(0.8);
        font-size: x-large;
        font-weight: 200;
        margin-top: -1rem;
    }

    .script>h3{
        transform: scale(0.8);
        font-size: x-large;
        font-weight: 500;
        margin-top: -1rem;
    }

    .script>input{
        transform: scale(0.7);
    }

    .script>button{
        transform: scale(0.7);

    }
}